
/* filter slider */
.rc-slider-rail{
    background-color: rgb(0 0 0 / 0.1) !important;
}

.rc-slider-track{
    background-color: var(--darker-secondary-color) !important
}

.rc-slider-handle{
    border-color: var(--darker-secondary-color) !important
}

.rc-slider-handle:hover{
    border-color: var(--darker-secondary-color) !important
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging{
    border-color: var(--darker-secondary-color) !important;
    box-shadow: 0 0 0 5px var(--darker-secondary-color) !important
}

/* Landing Page Styles */
.h1 {
    @apply text-4xl font-extrabold leading-tight tracking-tighter;
    font-family: var(--font-heading);
}

.h2 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter;
    font-family: var(--font-heading);
}

.h3 {
    @apply text-3xl font-bold leading-tight;
    font-family: var(--font-heading);
}

.h4 {
    @apply text-2xl font-bold leading-snug tracking-tight;
    font-family: var(--font-heading);
}

@screen md {
    .h1 {
        @apply text-6xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3;
}

.btn-sm {
    @apply px-4 py-2;
}
